@use "sass:map";

.champions-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
	gap: 12px 12px;

	@media (min-width: map.get($breakpoints, "sm")) {
		grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
	}

	@media (min-width: map.get($breakpoints, "lg")) {
		grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
		gap: 18px 18px;
	}
}
